<!DOCTYPE HTML>
<html>
	<head>
		<title>Mon Site avec twig</title>
	</head>
	<body>
		<h1>Bonjour ceci est mon site avec twig</h1>
		<p>Merci de visiter mon site, Il a été conçu uniquement pour tester les fonctionnalités du moteur twig. Je vais aussi mettre UTF-8 sans BOM
		</p>
		{% if (a<b) %}
			<p>la première valeur {{a}}est plus petite que la {{b}}</p>
		{% elseif (b<a) %}
			<p>la première valeur {{b}}est plus petite que la {{a}}</p>
		{% else  %}
			<p>les valeurs {{a}}et{{b}} sont égales </p>
		{% endif %}		
		
	</body>
</html>